@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700;800&family=Quicksand:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Quicksand", ui-sans-serif, system-ui, sans-serif;
  --font-heading: "Outfit", sans-serif;
}

@layer base {
  body {
    @apply bg-slate-50 text-slate-800 font-sans antialiased;
  }
}

@layer utilities {
  .btn-3d-green {
    @apply bg-emerald-500 border-b-6 border-emerald-700 text-white font-bold transition-all active:border-b-0 active:translate-y-1.5 active:shadow-inner;
  }
  .btn-3d-blue {
    @apply bg-sky-500 border-b-6 border-sky-700 text-white font-bold transition-all active:border-b-0 active:translate-y-1.5 active:shadow-inner;
  }
  .btn-3d-rose {
    @apply bg-rose-500 border-b-6 border-rose-700 text-white font-bold transition-all active:border-b-0 active:translate-y-1.5 active:shadow-inner;
  }
  .btn-3d-amber {
    @apply bg-amber-400 border-b-6 border-amber-600 text-white font-bold transition-all active:border-b-0 active:translate-y-1.5 active:shadow-inner;
  }
  .btn-3d-gray {
    @apply bg-slate-200 border-b-6 border-slate-400 text-slate-600 font-bold transition-all active:border-b-0 active:translate-y-1.5 active:shadow-inner;
  }
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
